services:
  backend:
    build: ./Backend
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    command: flask run --host=0.0.0.0 --port=5000
    environment:
      - FLASK_ENV=development
    volumes:
      - ./Backend:/app
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      - backend
    command: sh -c "npm run build && npm run start"
    environment:
      - PORT=3000
    volumes:
      - ./frontend:/app
